/* CSS Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* My Reset */
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: rgb(22, 108, 236);
}

button {
  cursor: pointer;
}

/* Fonts */
@font-face {
  font-family: 'Arvo';
  src: url('./Fonts/Arvo\ Regular/arvo-v14-latin-regular.ttf'),
    url('./Fonts/Arvo\ Regular/arvo-v14-latin-regular.woff'),
    url('./Fonts/Arvo\ Regular/arvo-v14-latin-regular.woff2'),
    url('./Fonts/Arvo\ Regular/arvo-v14-latin-regular.eot');
}

@font-face {
  font-family: 'Playfair Display';
  src: url('Fonts/Playfair\ Display\ Regular/playfair-display-v22-latin-regular.ttf'),
    url('Fonts/Playfair\ Display\ Regular/playfair-display-v22-latin-regular.woff'),
    url('Fonts/Playfair\ Display\ Regular/playfair-display-v22-latin-regular.woff2'),
    url('Fonts/Playfair\ Display\ Regular/playfair-display-v22-latin-regular.eot');
}

@font-face {
  font-family: 'Pacifico';
  src: url('Fonts/Pacifico/pacifico-v17-latin-regular.eot'),
    url('Fonts/Pacifico/pacifico-v17-latin-regular.woff'),
    url('Fonts/Pacifico/pacifico-v17-latin-regular.woff2'),
    url('Fonts/Pacifico/pacifico-v17-latin-regular.eot');
}

@font-face {
  font-family: 'Bebas Neue';
  src: url('./Fonts/Bebas\ Neue/bebas-neue-v2-latin-regular.woff'),
    url('./Fonts/Bebas\ Neue/bebas-neue-v2-latin-regular.woff2'),
    url('./Fonts/Bebas\ Neue/bebas-neue-v2-latin-regular.eot');
}

/* Custom Styles */
html {
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arvo, 'Playfair Display', Helvetica, Georgia, 'Times New Roman',
    Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgb(99, 98, 98);
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  width: 10px;
  background-color: #dfdfdf;
}

body::-webkit-scrollbar-thumb {
  background-color: #888787;
  border-radius: 5px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.2rem;
}
h4 {
  font-size: 1rem;
}
h5 {
  font-size: 0.9rem;
}

h6 {
  font-size: 0.8rem;
}
p {
  font-size: 1rem;
}

/* Colors */
.brand-color-bg {
  background-color: #166cec;
}

.brand-color-text {
  color: #166cec;
}

.brand-white-text {
  color: white;
}

.grey-bg {
  background-color: #f6f6f6;
}

.grey-text {
  color: #737272;
}

.icon {
  font-size: 1.2rem;
  cursor: pointer;
}

.icon:hover {
  color: #166cec;
}

/* Display */
.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.align-items-center {
  align-items: center;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-end {
  align-items: flex-end;
}

/* Others */

.logo {
  font-family: Pacifico, Arvo, Georgia;
  font-size: 1.5625rem;
}

.logo:hover {
  color: initial;
}

/* Media Queries */
@media screen and (max-width: 768px) {
  .logo {
    font-size: 1.2rem;
  }
}
