.journal {
  border-radius: 15px;
  box-shadow: 0 3px 16px 0px rgb(164, 164, 164);
  max-width: 1000px;
  padding-bottom: 20px;
  overflow-x: auto;
}

.smallJournal {
  max-width: 300px;
}

.nameDetail {
  font-weight: 900;
  text-align: start;
  padding: 15px 20px;
  font-size: 1.3rem;
  border-bottom: 2px solid rgb(228, 219, 219);
  border-radius: 15px;
  background-color: #166cec;
  color: white;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  /* border: 1px solid black; */
}

.smallJournal .detailHolder {
  flex-direction: column;
}

.smallJournal .nameDetail {
  font-size: 1.1rem;
}

.journalInfo,
.journalAcct {
  gap: 40px 0;
  padding: 1%;
  text-align: center;
  flex-grow: 1;
}

/* Journal Info */
.journalInfo {
  /* border: 1px solid black; */
  flex-grow: 1;
}

.smallJournal .journalInfo {
  margin-top: 20px;
}

.journalDetails {
  /* border: 1px solid black; */
  gap: 20px 0;
}

.currencyDetail > span {
  font-weight: 600;
}

.progressDetails {
  row-gap: 20px;
  /* border: 1px solid black; */
  padding-bottom: 20px;
}

.smallJournal .progressDetails {
  /* border: 1px solid red; */
  flex-direction: row;
}

.detail {
  display: grid;
  grid-template-rows: 1fr 1fr;
  row-gap: 15px;
  word-spacing: 3px;
  line-height: 20px;
  /* border: 1px solid black; */
}

.detail > span {
  /* border: 1px solid black; */
  color: rgb(63, 63, 63);
  font-weight: 1000;
}

/* Journal Account */
.journalAcct {
  /* border: 1px solid black; */
}

.openJournalBtn {
  /* border: 1px solid black; */
  width: 100%;
  font-size: 0.8rem;
}

.smallJournal .openJournalBtn {
  width: 90%;
}

.journalBalance {
  /* border: 1px solid black; */
  display: flex;
  column-gap: 5px;
}

/* Chart */
.chart {
  /* border: 1px solid black; */
  flex-grow: 2;
}

.profit {
  font-weight: 800;
  color: green;
}

.loss {
  font-weight: 800;
  color: red;
}
