.container {
    row-gap: 30px;

    /* border: 1px solid black; */
}

.topBar {
    padding: 0 30px 0;
    column-gap: 20px;
    /* border: 1px solid black; */
}

.firstNavItem {
    column-gap: 30px;
}

.refresh {
    font-size: 1.2rem;
    cursor: pointer;
}

.refresh:hover {
    color: #166cec;
}

.toggleHolder {
    column-gap: 10px;
    font-size: 0.9rem;
    color: #a09d9d;
    line-height: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    /* border: 1px solid black; */
}

.toggleHolder > h4 {
    flex-grow: 1;
    flex-shrink: 2;
}

.toggleSwitch {
    width: 50px;
    height: 22px;
    flex-grow: 2;
    /* border: 1px solid black; */
}

.createJournalBtn {
    font-size: 0.8rem;
}

.searchField {
    /* border: 1px solid black; */
}

.journalsHolder {
    /* border: 1px solid rgb(179, 11, 11); */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1000px));
    justify-content: center;
    gap: 50px 50px;
}

.smallJournals {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    justify-items: center;
    gap: 20px 20px;
}

@media screen and (max-width: 768px) {
    .searchField {
        width: 150px;
    }
}

@media screen and (max-width: 768px), (min-width: 1441px) {
    .topBar {
        justify-content: center;
        padding: 0 10px 0;
        justify-content: space-between;
    }
}

@media screen and (min-width: 1441px) {
    .searchField {
        text-align: center;
    }
}
@media screen and (min-width: 425px) {
    .topBar {
        justify-content: space-between;
    }
}
