.container {
  padding: 5px 0 20px;
  /* border: 1px solid black; */
}

.containerWide {
  padding: 0;
}

.fullHeight {
  height: 100vh;
}

.cancel {
  text-align: end;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 0 20px;
  /* border: 1px solid black; */
}

.cancel:hover {
  color: rgb(22, 108, 236);
}

.navigation {
  flex-grow: 2;
  
}

.navlistWide {
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0;
  padding: 0;
  
}
