.container {
  padding: 5px 0 20px;
  /* border: 1px solid black; */
}

.containerWide {
  padding: 0;
}

.fullHeight {
  height: 100vh;
}

.menuHolder {
  margin-top: 20px;
  /* border: 1px solid black; */
}

.userBtn {
  height: 30px;
  width: 30px;
  display: block;
  /* border: 1px solid black; */
  margin-left: 30px;
}

.userIcon {
  font-size: 0.9rem;
}

.cancel {
  text-align: end;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 0 20px;
  /* border: 1px solid black; */
}

.cancel:hover {
  color: rgb(22, 108, 236);
}

.navigation {
  flex-grow: 2;
  /* border: 1px solid black; */
}

.navlistWide {
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0;
  padding: 0;
}

@media screen and (max-width: 425px) {
  .userBtn {
    height: 50px;
    width: 50px;
  }

  .userIcon {
    font-size: 1.5rem;
  }

  .cancel{
    font-size: 1.8rem;
  }
}
