.container {
  /* border: 1px solid black; */
}

.header {
  /* border: 1px solid black; */
  padding-right: 20px;
}

.header svg {
  font-size: 1.3rem;
}

.btnHolder {
  column-gap: 20px;
}

.btnHolder * {
  cursor: pointer;
}

.btnHolder *:hover {
  color: #166cec;
}

.btnDisabled:hover {
  color: inherit;
}

.editBtn {
  color: #166cec;
}

.divider {
  width: 100%;
  background-color: grey;
  height: 1px;
  margin: 10px 0 40px;
  /* margin-bottom: 50px; */
}

.formBtnHolder {
  margin-top: 30px;
  padding: 0 20px;
  /* border: 1px solid black; */
}

.formBtn {
  font-size: 0.8rem;
  min-width: 70px;
}

.formContainer {
  display: grid;
  justify-content: center;
}

@media screen and (max-width: 425px) {
  .container {
    /* border: 1px solid black; */
  }

  .headerText {
    font-size: 1.8rem;
  }

  .header {
    /* border: 1px solid black; */
    padding-right: 0px;
  }

  .header svg {
    font-size: 1.4rem;
  }

  .formBtn {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
}
