.container {
  /* border: 1px solid black; */
}

.strategyHolder {
  /* border: 1px solid black; */
  column-gap: 30px;
}

.icon {
  font-size: 1.2rem;
}
.icon:hover {
  color: #116cce;
  cursor: pointer;
}

.blueIcon {
  color: #116cce;
}

.strategyList {
  border: 1px solid #bdbcbc;
  min-height: 200px;
  max-height: 300px;
  min-width: 250px;
  border-radius: 7px;
  overflow-y: auto;
}

.listItem {
  border: 1px solid grey;
  border-left: none;
  border-right: none;
  padding: 10px 20px;
}

.listItemTrash:hover {
  color: #116cce;
  cursor: pointer;
}

.listItemAdd {
  cursor: pointer;
  font-size: 1.1rem;
}

.listItemAdd:hover {
  background-color: #116cce;
  color: white;
}

.optionsHolder {
  /* border: 1px solid black; */
  column-gap: 60px;
  align-items: flex-end;
}

.optionItem {
  row-gap: 20px;
}

.optionItem > h4 {
  font-weight: 800;
  text-align: center;
}

.optionItem > select {
  padding: 5px;
  cursor: pointer;
  outline-color: #116cce;
  color: inherit;
}

.optionItem > select:disabled {
  all: unset;
  text-align: center;
  padding: 7px 10px;
}

.optionItem > select,
.optionItem > select:disabled {
  font-family: inherit;
  font-size: 1rem;
  border: 1px solid rgb(141, 139, 139);
  border-radius: 7px;
}

.btnGroup {
  /* border: 1px solid black; */
  padding: 0 30px;
}

.btnGroup > div {
  font-size: 0.8rem;
  min-width: 70px;
}

.strategyHolder,
.optionsHolder,
.btnGroup {
  margin-top: 50px;
}

@media screen and (max-width: 425px) {
  .optionItem > h4 {
    font-size: 1.3rem;
  }

  .optionItem > select {
    font-size: 1.2rem;
    min-width: 120px;
  }

  header > h2 {
    font-size: 1.8rem;
  }

  .icon {
    font-size: 1.5rem;
  }
  .btnGroup > div{
    font-size: 1.2rem;
  }
}
