.container {
  max-width: 1400px;
  max-height: 1000px;
  font-size: 1rem;
  /* border: 1px solid black; */
}

.divider {
  display: none;
  width: 100%;
  background-color: grey;
  height: 1px;
  margin: 10px 0 40px;
  /* margin-bottom: 50px; */
}

.contactus {
  background-image: url(https://res.cloudinary.com/xetadev/image/upload/v1632127258/journalMe/siteImages/contactusbg.jpg);
  background-image: url(../../Images/contactus1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.headerContainer {
  /* border: 1px solid black; */
  height: 60vh;
  max-height: 600px;
}

.headerBody {
  /* border: 1px solid black; */
  height: 100%;
  width: 100%;
  row-gap: 30px;
  /* background-color: rgba(255, 255, 255, 0.137); */
  margin: auto;
}

.heading {
  font-size: 3em;
  color: #4d4949;
  text-shadow: 2px 2px rgb(201, 199, 199);
  font-weight: 800;
  text-align: center;
  line-height: 40px;
}

/* Main Body */
.mainContainer {
  /* border: 1px solid black; */
  /* background-color: #166cec; */
  padding: 20px;
  margin-bottom: 40px;
}

.contactHolder {
  max-height: 500px;
  /* color: white; */
  /* border: 1px solid black; */
  margin: auto;
}

.contactHolder > * {
  width: 50%;
}

.textHolder {
  /* border: 1px solid black; */
  row-gap: 30px;
  color: #4d4949;
}

.textHolder > h2 {
  font-size: 2.4em;
  font-weight: 800;
}

.textDetail {
  font-size: 1.5em;
  margin-bottom: 40px;
  opacity: 0;
}

.arrowIcon {
  font-size: 1.8em;
}

.downIcon {
  display: none;
  position: relative;
  top: -1000px;
}

.rightIcon {
  position: relative;
  left: -1000px;
}

/* Form */
.formContainer {
  /* border: 1px solid black; */
}

.formSent {
  height: 350px;
  width: 400px;
}

.checkCircle {
  font-size: 5rem;
  color: #166cec;
}

.formHolder,
.formSent {
  row-gap: 30px;
  background-color: white;
  /* border: 1px solid black; */
  padding: 40px 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px 5px rgb(68, 68, 68);
}

.formHolder {
  opacity: 0;
}

.formItem {
  /* border: 1px solid black; */
  color: black;
  display: grid;
  grid-template-columns: 100px 1fr;
  justify-content: center;
  align-items: center;
}

.formLabel {
  /* border: 1px solid black; */
  padding-top: 10px;
  align-self: start;
}

.formInput {
  /* border: 1px solid black; */
  min-height: 40px;
  min-width: 300px;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid grey;
  font-family: Arvo;
  font-size: 1em;
  outline-color: #166cec;
}

.submitBtn {
  border: 2px solid #166cec;
  width: 100%;
  height: 40px;
  border-radius: 8px;
  font-family: Arvo;
  font-size: 1em;
  background-color: white;
}

.submitBtn:hover {
  background-color: #166cec;
  color: white;
  box-shadow: 0 0 5px 2px rgb(68, 68, 68);
}

hr {
  display: none;
}

/* Animations */
.slideInRight {
  right: 0;
  transition: right 1s ease-in-out;
}

.slideInDown {
  top: 0;
  transition: top 1s ease-in-out;
}

.slideInLeft {
  left: 0;
  transition: left 1s ease-in-out;
}

.unblur {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.unblurWithDelay {
  opacity: 1;
  transition: opacity 1s ease-in-out 1s;
}

.blur {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

/* Media Queries */
@media screen and (max-width: 768px) {
  .container {
    font-size: 0.8rem;
  }

  .contactus {
    /* border: 1px solid black; */
    background-position: left;
  }

  .formInput {
    min-width: 0;
  }

  .submitBtn {
    background-color: #166cec;
    color: white;
    box-shadow: 0 0 5px 2px rgb(68, 68, 68);
  }
}

@media screen and (max-width: 425px) {
  .contactus {
    background-size: cover;
    background-position: left;
  }

  .heading {
    font-size: 2.25em;
  }

  .contactHolder {
    flex-direction: column;
    row-gap: 30px;
    max-height: 100%;
  }

  .contactHolder > * {
    width: 100%;
  }

  .formHolder {
    width: 100%;
  }

  .formItem {
    /* border: 1px solid black; */
    grid-template-columns: 50px 1fr;
  }

  .rightIcon {
    display: none;
  }

  .downIcon {
    display: initial;
  }

  .divider {
    display: block;
  }
}
