.container {
  /* border: 1px solid black; */
  font-size: inherit;
  padding: 20px;
}

.chartContainer {
  /* border: 1px solid black; */
  row-gap: 30px;
  margin-bottom: 60px;
}

.chartContainer:fullscreen {
  /* border: 1px solid black; */
  background-color: white;
  padding: 0 45px ;
  /* overflow: scroll; */
}

.analysis {
  /* border: 1px solid black; */
  row-gap: 30px;
  margin-top: 30px;
}

.analysisItem {
  /* border: 1px solid black; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 30px;
  column-gap: 10px;
}

.itemHolder {
  /* border: 1px solid black; */
  display: grid;
  grid-template-columns: 1fr 40px;
  column-gap: 10px;
}

.analysisHeader {
  /* border: 1px solid black; */
  text-align: end;
  font-weight: 800;
}

@media screen and (max-width: 425px) {
}
