.item{
    border: 1px solid #b8b6b6;
    border-left: none;
    border-right: none;
    padding: 20px;
}

.item:hover{
  background-color: #166cec;
  color: white;
}

@media screen and (max-width: 425px) {
  .item{
    font-size: 1.2rem;
  }
}