.trade {
  padding: 15px 40px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  border: 1px solid #918f8f;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  cursor: pointer;
}

.trade:hover {
  background-color: #93bbf7;
  color: white;
}

.profit {
  color: rgb(5, 145, 5);
}

.loss {
  color: rgb(238, 23, 23);
}
